@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

body {
    height:100%;
    background-color:white;
}

.footer {
    background-color: darkolivegreen;
    bottom: 0;
    width: 100%;
    height: 7em;
    color: white;
    text-align: center;
    padding-top:10px;
}
.homepage {
    height: auto;
    background-color: white;
}

.title {
    font: bold 25px 'Open Sans', sans-serif;
    margin: 15px 0 15px 15px;
    text-transform: uppercase;
    
}

.banner {
  background-color: gainsboro;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-color:#4CAF50;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.btn-form {
    margin: 0px 15px 100px 0%;
    font-size: 1px;
}


.small-div {
text-align:center;
}

.form-label {
    font: bold 20px 'Open Sans', sans-serif;
}

.form-label2 {
    font: bold 20px 'Open Sans', sans-serif;
    color:papayawhip;
}

.admin-banner {
    background: #222222 url(../images/banner_admin01.jpg) no-repeat;
    height: 20em;
}

/*PENDIENTE*/
.N {

}

.previous {
float:left;
color:black;
}

.next {
    float: right;
}

.center-block {

}

.link1 {
    font: bold 20px 'Open Sans', sans-serif;
    margin: 0px 0px 10px 10px;
}


