<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conexion" connectionString="Data Source=SQL5025.site4now.net;Initial Catalog=DB_A42F8B_gymVital;User Id=DB_A42F8B_gymVital_admin;Password=GymVital123;" />
    </connectionStrings>
</configuration>